 body {
   text-align: right;
 }

 body,
 html {
   font-family: 'almoni-400';
   direction: rtl;
 }



 .deny-transaction {

  .dots-navigation{
    display: none;
    position: absolute;
    top:40%;
    ul{
      li{
        list-style: none;
        margin-bottom: 8px;
      }
    }
    .fa-circle {
      font-size: 1.2rem;
      color: #EBEBEB;
    }
    .circle-wrapper{
      text-align:center;
    }

  }
   .top-header {
     background: #EFEFEF;
     padding-top: 10px;
     padding-bottom: 10px;
     margin-bottom: 10px;
     position: relative;
     z-index: 1;


     .location-title {
       font-size: 1.2rem;
       color: #1D1C64;
       margin: 0px;
       display: block;
       font-weight: bold;
     }

     .date-title {
       font-size: 1rem;
       color: #1D1C64;
       margin: 0px;
       display: block;
       position: relative;
       top: -10px;
     }
   }

   .main-sticky,
   .sub-sticky-b,
   .sub-sticky-c,
   .sub-sticky-d,
   .sub-sticky-e,
   .sub-sticky-f,
   .sub-sticky-g,
   .sub-sticky-h {
     transition: all 1.5s;
     height: 100vh;
     position: absolute;
     width: 100%;
     right: 0;
     left: 0;

     .btn-next,
     .btn-prev {
       display: block;

       &:focus {
         box-shadow: none;
       }
     }

     .btn-next {
       margin: 0.625rem auto;
       color: #1D1C64;
       border: 2px solid;
       width: 20%;
       font-size: 1.2rem;
       font-weight: bold;
       border-radius:1.875rem;
       padding: 3px;
       transition: all 0.5s;

       &:hover {
         background: #1D1C64;
         color: white;
       }
     }

     .btn-prev {
       color: #009CA2;
       font-size: 1.2rem;
       font-weight: bold;
     }


     .tab-sub-title {
       color: #0A0A0A;
       font-size: 1.8rem;
       font-weight: bold;
       text-align: center;

     }

     .sub-text {
       width: 25rem;
       font-size: 1.4rem;
       margin: 0 auto;
       max-width: 100%;
       padding: 0rem 0rem 0.9375rem 0rem;
     }

   }

   .main-sticky {
     .main-title {
       font-size: 2.0625rem;
       text-align: center;
       font-weight: bold;
       padding: 0.9375rem 0rem 0.9375rem 0rem;
     }

     .sub-sticky-b {
       position: relative;
       height: 100vh;

       .grid-tab {

         .tab-block {
           list-style: none;
           padding: 0;
           z-index: 1;

           .tab-mnu {
             padding-inline-start: 0px;
             -moz-padding-inline-start: 0px;
             -webkit-padding-inline-start: 0px;
             -khtml-padding-inline-start: 0px;
             -o-padding-inline-start: 0px;
             padding: 0px;
             display: block;
             list-style: none;
             border-radius: 1.375rem;
             display: flex;
             flex-direction: row-reverse;


             &:after {
               content: '';
               display: table;
               clear: both;
             }

             li {
               float: right;
               color: #000;
               font-weight: bold;
               text-align: center;
               padding: 0.3125rem 1.25rem 0.3125rem 1.25rem;
               border-radius: 0.3125rem;
               cursor: pointer;
               background: white;
               width: calc(100%/5);
               height: 10.0625rem;
               margin: 0.3125rem;
               color: black;
               border: 0.81px solid #E8E8E8;
               box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.14);
               -webkit-box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.14);
               -moz-box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.14);
             }


             .active {
               border: 2px solid #00E9ED;
               box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0);
               -webkit-box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0);
               -moz-box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0);

               &:after {
               }
             }

             .tabs-info {
               padding-top: 25px;
             }

             .icon {
               background: #009BA1;
               height: 3.125rem;
               width: 3.125rem;
               bottom: 0px;
               margin-right: auto;
               border-radius: 75%;
               margin-left: auto;

               img {
                 object-fit: contain;
                 margin: 13px auto;
                 width: 55%;

               }
             }

             .text {
               font-size: 0.9375rem;
               padding:0.9375rem 0rem 0rem 0rem;
             }
           }

           .tab-cont {
             color: black;


             .tab-pane {
               background-repeat: no-repeat;
               background-size: cover;
               padding: 1.5rem 2.5rem 2rem 2rem;
             }
           }
         }
       }
     }



     .sub-sticky-c {
       .part-b {
         img {}
       }
     }



     .sub-sticky-d {
       .part-c {
          padding:1.25rem 0rem 0rem 0rem;
         img {
           margin-bottom: 1.25rem;
         }
       }
     }


     .sub-sticky-e {
       .part-d {
        padding-top: 5rem;
         .btn-next,
         .btn-prev {
           display: inline-block;
         }

         .btn-next,
         .btn-prev {

           margin: 0.625rem auto 1.25rem auto;
           color: #1D1C64;
           border: 2px solid;
           width: 10%;
           border-radius: 1.875rem;
           padding: 0.1875rem;

           &:hover {
             background: #1D1C64;
             color: white;
           }
         }

         img {
          margin-bottom:1.25rem;
         }

         .part-d-none {
           margin: 0 auto;
           max-width: 100%;
           width: 25rem;

           .area-title {
             position: relative;
             top: 0.625rem;
             text-align: right;
             font-size: 1.2rem;
             font-weight: bold;
           }

           .textarea {
             width: 100%;
             border-radius: 0px;
             height: 3.75rem;
           }


           .textarea:nth-of-type(2) {
             height: 12.5rem;
           }

           .btn-prev,
           .btn-next {
             width: 45%;
             display: block;
           }


           .btn-prev {
             border: none;
             color: #009CA2;

             &:hover {
               background: transparent;
               color: #009CA2;

             }
           }

         }
       }
     }



     .sub-sticky-f {
       .part-e {
        padding-top:1.25rem;
         .btn-next,
         .btn-prev {
           display: inline-block;
         }

         .btn-next,
         .btn-prev {
           margin: 0.625rem auto 0.625rem auto;
           color: #1D1C64;
           border: 2px solid;
           width: 10%;
           border-radius: 1.875rem;
           padding: 0.1875rem;

           &:hover {
             background: #1D1C64;
             color: white;
           }
         }

         .part-e-none {

           .btn-next,
           .btn-prev {
             display: block;

             &:focus {
               box-shadow: none;
             }
           }

           .btn-next {
             margin: 0.625rem auto;
             color: #1D1C64;
             border: 2px solid;
             width: 20%;
             border-radius: 1.875rem;
             padding: 0.1875rem;

             &:hover {
               background: #1D1C64;
               color: white;
             }
           }

           .btn-prev {
             color: #009CA2;
             width: 100%;
             border: none;

             &:hover {
               color: #009CA2;
               border: none;
               background: transparent;
             }
           }
         }

       }
     }


     .sub-sticky-g {
       .part-f {

         .btn-next,
         .btn-prev {
           display: block;

           &:focus {
             box-shadow: none;
           }
         }
         .textarea {
           height:12.5rem;
         }
        
           .sub-text-title{
             font-size: 1.4rem;
             &:before {
               content: "\f069";
               font-family: FontAwesome;
               color:rgb(0, 156, 162);
               font-size:1rem;
             }
           }
         
       }
     }


     .sub-sticky-h {
       .part-g {

         .btn-next,
         .btn-prev {
           display: block;
           width: 25%;

           &:focus {
             box-shadow: none;
           }
         }

         .sub-text {
           width: 43.75rem;
         }

         .p-1 {
           font-weight: normal;
         }

         .p-2 {
           font-weight: bold;
         }

         .p-3 {
          font-size: 1.2rem;
          font-weight: normal;
          width: 37.5rem;
          &:before {
            content: "\f069";
            font-family: FontAwesome;
            color:rgb(0, 156, 162);
            font-size:1rem;
          }
         }

         .update-details {
           color: #009CA2;
           font-weight: bold;
           font-size: 1.4rem;
           position: relative;
           top:-0.625rem;
         }

         img {
          padding-top: 40px;
          padding-bottom: 10px;
          padding:2.5rem 0rem 0.625rem 0rem;
         }

         .tab-sub-title {
           padding: 0px;
           margin:1.5625rem 0rem 0rem 0rem;
           font-size: 2rem;
         }
       }
     }

     .none {
       display: none;
     }

     .block {
       display: block;
     }

     .modal{
       h2{
         font-weight:bold;
       }
       h3{
        font-size: 1.5rem;
        padding: 0.625rem 0rem 1.25rem 0rem;
       }
       img{
         margin: 1.875rem 0rem 0.9375rem 0rem;
       }
       .btn-next {
        width: 40%;
       }
       .modal-dialog {
        margin: 10rem auto;
       }
     }

   }

   .padding-top {
     padding-top:2.5rem;
   }

   .top {
     top: 2.5rem;
   }

   .relative {
     position: relative;
   }

   .error-1, .error-2, .error-3 {
     color:red;
     font-size: 0.8rem;
   }

   .padding-20 {
     padding: 0rem 1.25rem 0rem 1.25rem;
   }


   .table {
     margin:0.9375rem 0rem 0rem 0rem;
     tr {
       font-size: 1.2rem;
       text-align: right;
       font-weight: normal;
       border-bottom: 1px solid transparent;
       padding: .2rem;
       vertical-align: middle;

       &:nth-of-type(odd) {
         background: #f2f2f29e;
       }
     }

     thead {
       th {
         font-size: 1.3rem;
         font-weight: normal;
         text-align: right;
         background: #F0F0F0;
         border-bottom: 1px solid transparent;
         padding: .5rem;
         vertical-align: middle;
         border-top: none;
       }
     }

     th {
       background: #F0F0F0;
     }

     td,
     th {
       border-bottom: 1px solid transparent;
       padding: .5rem;
       vertical-align: middle;
     }

     .container-checkbox {
       display: block;
       position: relative;
       padding-left: 2.1875rem;
       margin-bottom: 0.75rem;
       cursor: pointer;
       font-weight: normal;
       font-size: 1.2rem;
       -webkit-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;

       span.date {
         position: relative;
         right: 1.6875rem;
         top: 0.125rem;
       }

       input {
         position: absolute;
         opacity: 0;
         cursor: pointer;
         height: 0;
         width: 0;

         &:checked {
           &~.checkmark {
             background-color:rgb(0, 156, 162);
             border: none;
           }
         }


         &:checked {
           &~.checkmark {
             &:after {
               display: block;
             }
           }
         }


       }

       .checkmark {
         position: absolute;
         top: 0.3125rem;
         right: 0;
         height: 1.125rem;
         width: 1.125rem;
         background-color: transparent;
         border: 1px solid black;

         &:after {
           content: "";
           position: absolute;
           display: none;
           left: 0.375rem;
           top: 0.0625rem;
           width:0.375rem;
           height: 0.875rem;
           border: solid white;
           border-width: 0 2px 2px 0;
           -webkit-transform: rotate(45deg);
           -ms-transform: rotate(45deg);
           transform: rotate(45deg);
         }
       }

       &:hover {
         input {
           ~.checkmark {
             display: block;
           }
         }
       }
     }
   }

   .slide-in-up {
     -webkit-animation-name: slide-in-up;
     animation-name: slide-in-up;
     -webkit-animation-duration: 1s;
     animation-duration: 1s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
   }

   @-webkit-keyframes slide-in-up {
     0% {
       -webkit-transform: translateY(100%);
       transform: translateY(100%);
       visibility: visible;
       opacity: 0.3;
     }

     100% {
       -webkit-transform: translateY(0);
       transform: translateY(0);
       opacity: 1;
     }
   }

   @keyframes slide-in-up {
     0% {
       -webkit-transform: translateY(100%);
       transform: translateY(100%);
       visibility: visible;
       opacity: 0.3;
     }

     100% {
       -webkit-transform: translateY(0);
       transform: translateY(0);
       opacity: 1;
     }
   }



   .slide-in-down {
     -webkit-animation-name: slide-in-down;
     animation-name: slide-in-down;
     -webkit-animation-duration: 2s;
     animation-duration: 2s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
   }

   @-webkit-keyframes slide-in-down {
     0% {
       -webkit-transform: translateY(1000px);
       opacity: 0.3;
     }

     100% {
       -webkit-transform: translateY(0px);
       opacity: 1;
     }
   }

   @keyframes slide-in-down {
     0% {
       transform: translateY(1000px);
       opacity: 0.3;
     }

     100% {
       transform: translateY(0px);
       opacity: 1;
     }
   }
 }


 /*min width 992px*/
 @media only screen and (min-width: 992px) {
   .contact-cards-page {
     .col-lg-2 {
       -ms-flex: 0 0 14.2%;
       flex: 0 0 14.2%;
       max-width: 14.2%;
     }

     .grid-tab {
       .tab-block {
         .tab-mnu {}
       }
     }
   }
 }

 /*min width 992px*/


 /*max width 992px*/
 @media only screen and (max-width:991px) {
   .deny-transaction {
  .dots-navigation{
    position: absolute;
    top: 4.375rem;
    padding-top: 1.25rem;
    text-align: center;
    width: 100%;
    z-index: 99;
    background: white;
    ul{
      li{
        list-style: none;
        margin-bottom: 0.5rem;
        display: inline-block;
      }
    }
    .fa-circle {
      font-size: 1.2rem;
      color: #EBEBEB;
    }
    .circle-wrapper{
      text-align:center;
    }

  }

     .main-sticky,
     .sub-sticky-b,
     .sub-sticky-c,
     .sub-sticky-d,
     .sub-sticky-e,
     .sub-sticky-f,
     .sub-sticky-g,
     .sub-sticky-h {

       .btn-next,
       .btn-prev {
         width: 65%;
         margin: 0 auto;

         &:focus {}
       }

       .btn-next {


         &:hover {}
       }

       .btn-prev {}

       .sub-text {
         font-size: 1.3rem;
         font-weight: normal;
         margin: 0.625rem auto;
       }

     }

     .main-sticky {
       .sub-sticky-b {


         .grid-tab {

           .tab-block {

             list-style: none;
             padding: 0;
             z-index: 1;

             .tab-mnu {

               flex-direction: column;

               &:after {}

               li {
                 width: 100%;
                 text-align: right;
                 height: auto;
                 box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0);
                 -webkit-box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0);
                 -moz-box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0);
               }


               .active {


                 &:after {}

               }

               .tabs-info {
                 padding-top: 0px;
                 display: flex;
               }

               .icon {
                 margin-right: 0px;
                 margin-left: 10px;
                 height: 2.1875rem;
                 width: 2.1875rem;

                 img {

                   object-fit: contain;
                   margin: 0.625rem auto;
                   width: 55%;
                 }
               }

               .text {
                 font-size: 0.75rem;
                 padding-top: 0.9375rem;
               }

               .icon,
               .text {
                 display: inline-flex;
               }
             }

             .tab-cont {


               .tab-pane {}
             }
           }
         }
       }



       .sub-sticky-c {
         .part-b {
           img {}
         }
       }



       .sub-sticky-d {
         .part-c {
           img {}
           .tab-sub-title {
            padding-top:1.25rem;
           }
         }
       }


       .sub-sticky-e {
         .part-d {

           .btn-next,
           .btn-prev {
             width: 25%;
           }

           .btn-next,
           .btn-prev {


             &:hover {}
           }

           img {}

           .part-d-none {


             .area-title {}

             .textarea {}


             .textarea:nth-of-type(2) {}

             .btn-prev,
             .btn-next {}


             .btn-prev {


               &:hover {}
             }

           }
         }
       }



       .sub-sticky-f {
         .part-e {

           .btn-next,
           .btn-prev {}

           .btn-next,
           .btn-prev {
             width: 25%;

             &:hover {}
           }

           .part-e-none {

             .btn-next,
             .btn-prev {
               width: 40%;

               &:focus {}
             }

             .btn-next {


               &:hover {}
             }

             .btn-prev {


               &:hover {}
             }
           }
           .tab-sub-title {
            padding-top:1.25rem;
           }
         }
       }


       .sub-sticky-g {
         .part-f {

           .btn-next,
           .btn-prev {
             display: block;

             &:focus {
               box-shadow: none;
             }
           }
         }
       }


       .sub-sticky-h {
         .part-g {

           .btn-next,
           .btn-prev {
            width: 80%;

             &:focus {}
           }

           .sub-text {}

           .p-1 {}

           .p-2 {}

           .p-3 {}


           .tab-sub-title {}
         }
       }
       .modal {
         .btn-next {
          width: 50%;
         }
       }
     }
     .padding-top{
       padding-top:0px;
     }
   }

 }

 /*max width 992px*/


 .fade-in
{
    -webkit-animation: fade-in 1.2s;
            animation: fade-in 1.2s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}
@-webkit-keyframes fade-in
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes fade-in
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}